.home .hero img
  max-width 450px!important

.links
  background-color #20232A!important

.navbar
  background-color #20232A!important
  border-bottom 1px solid #353A3C!important


body
  background-color #0F1111

input
  border 1px solid #353A3C!important
  background-color #181A1B!important